mixin profileInput(labelText, inputType, inputName, inputValue, isDisabled)
    .profile__form-item
        label.profile__form-label= labelText
        input.profile__form-input(type=inputType name=inputName value=inputValue disabled=isDisabled)
